# Laravel
/vendor/
/node_modules/
/public/hot
/public/build
/public/storage
/storage/*.key
/storage/pail

# Environment & Configuration
.env
.env.backup
.env.production
/.phpunit.cache
.phpunit.result.cache
auth.json

# IDE & Editors
/.idea
/.vscode
/.fleet
/.nova
/.zed
.phpactor.json

# OS Files
.DS_Store
Thumbs.db
*.log

# Database (SQLite)
/database/*.sqlite
/database/*.sqlite-journal
/database/*.db

# Build & Cache
/bootstrap/cache/*.php
/.php-cs-fixer.cache
# /public/css/
# /public/js/

# Homestead
Homestead.json
Homestead.yaml

# NPM & Dependencies
npm-debug.log
yarn-error.log

# Coverage & Testing
/coverage/
/.phpunit.cache
