body {
  font-family: "Poppins", sans-serif;
  background-color: #f5f6f7;
  margin: 0;
  padding: 0;
  color: #1F3B4D;
}

/* Navbar */
header {
  background-color: #1F3B4D;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 30px;
}

.logo {
  font-weight: bold;
  color: #D4B06A;
  font-size: 18px;
}

.nav-links {
  display: flex;
  gap: 20px;
  align-items: center;
}

.nav-links a {
  color: white;
  text-decoration: none;
  padding: 8px 15px;
  border-radius: 6px;
  transition: background 0.3s;
}

.nav-links a:hover,
.active {
  background-color: #D4B06A;
  color: #1F3B4D;
}

.sign-out {
  background-color: white;
  color: #1F3B4D;
  border: none;
  padding: 8px 16px;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
}

/* Main Content */
main {
  padding: 30px;
  display: flex;
  justify-content: center;
}

.profile-container {
  background: white;
  border-radius: 12px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  width: 800px;
  padding: 30px;
  display: flex;
  gap: 30px;
}

.profile-left {
  flex: 1;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.profile-left img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 10px;
}

.profile-left button {
  background-color: #1F3B4D;
  color: white;
  border: none;
  padding: 8px 20px;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 500;
  transition: background 0.3s;
}

.profile-left button:hover {
  background-color: #163040;
}


.profile-right {
  flex: 2;
}

.profile-right h2 {
  margin-top: 0;
  font-size: 20px;
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.save-btn {
  background-color: #1F3B4D;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  width: 100%;
}

.save-btn:hover {
  background-color: #163040;
}

/* Responsif */
@media (max-width: 768px) {
  .profile-container {
    flex-direction: column;
    width: 100%;
  }

  .profile-left, .profile-right {
    width: 100%;
  }
}
