<nav class="main-navbar">
    <div class="navbar-logo">
        CV.TRILOKA SEJAHTERA
    </div>
    <div class="navbar-menu">
        <a href="dashboard.html" data-link="dashboard" class="navbar-link">Dashboard</a>
        <a href="payment.html" data-link="payment" class="navbar-link">Payment</a>
        <a href="upload.html" data-link="upload" class="navbar-link">Upload</a>
        <a href="profile.html" data-link="profile" class="navbar-link">My Profile</a>
        <a href="notifikasi.html" class="navbar-link">Notification</a>
        <!-- <a href="document-verification.html" data-link="document-verification" class="navbar-link">Document verification</a> -->
        
        <button id="logout-btn" class="navbar-button">Sign out</button>
    </div>
</nav>